<nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
  <a class="navbar-brand" href="#">edu.Vaal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <li class="nav-item">
        <a class="nav-link" href="#">Categories <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">John Doe</a>
      </li>
    </ul>
  </div>
</nav>

<section>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-lg-9">
        <div class="row mb-3">
          <div class="col-lg-12">
            <strong>Recent Upload</strong>
            <span class="float-right"><a href="#!">View all</a></span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="card shadow">
              <img class="card-img-top" src="../../assets/img/SFDC.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Stock Update SFDC</h5>
                <p class="card-text">Introduction and getting started with ShopFloor Data Capture</p>
                <small><em>-Subhan Babu</em></small>
              </div>
              <div class="card-footer">
                <a routerLink="/watch" class="btn btn-link">Watch now</a>
                <small class="float-right mt-2">15:30 min</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card shadow">
              <img class="card-img-top" src="../../assets/img/SFDC.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ShopFloor Data Capture</h5>
                <p class="card-text">Introduction and getting started with ShopFloor Data Capture</p>
                <small><em>-Sandeep Kavade</em></small>
              </div>
              <div class="card-footer">
                <a routerLink="/watch" class="btn btn-link">Watch now</a>
                <small class="float-right mt-2">15:30 min</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card shadow">
              <img class="card-img-top" src="../../assets/img/custom – 1.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ShopFloor Data Capture</h5>
                <p class="card-text">Introduction and getting started with ShopFloor Data Capture</p>
                <small><em>-Sandeep Kavade</em></small>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-link">Watch now</a>
                <small class="float-right mt-2">15:30 min</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card shadow">
              <img class="card-img-top" src="../../assets/img/custom – 1.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">ShopFloor Data Capture</h5>
                <p class="card-text">Introduction and getting started with ShopFloor Data Capture</p>
                <small><em>-Sandeep Kavade</em></small>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-link">Watch now</a>
                <small class="float-right mt-2">15:30 min</small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="row mb-3">
          <div class="col-lg-12">
            <strong>Top Categories</strong>
            <span class="float-right"><a href="#!">View all</a></span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-3">
            <div class="text-center shadow bg-white p-3">
              CAD / CAM
            </div>
          </div>
          <div class="col-lg-6 mb-3">
            <div class="text-center shadow bg-white p-3">
              Services
            </div>
          </div>
          <div class="col-lg-6 mb-3">
            <div class="text-center shadow bg-white p-3">
              Business System
            </div>
          </div>
          <div class="col-lg-6 mb-3">
            <div class="text-center shadow bg-white p-3">
              Sales
            </div>
          </div>
        </div>
        <div class="row mb-3 mt-3">
          <div class="col-lg-12">
            <strong>Presenters</strong>
            <span class="float-right"><a href="#!">View all</a></span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-3">
            <div class="text-center shadow bg-white p-3">
              Yogesh
            </div>
          </div>
          <div class="col-lg-6 mb-3">
            <div class="text-center shadow bg-white p-3">
              Sonali
            </div>
          </div>
          <div class="col-lg-6 mb-3">
            <div class="text-center shadow bg-white p-3">
              Samreen
            </div>
          </div>
          <div class="col-lg-6 mb-3">
            <div class="text-center shadow bg-white p-3">
              Shital
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="bg-white shadow p-3">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                    aria-controls="pills-contact" aria-selected="false">Contact</a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <div class="col-lg-2">
                    <div class="card shadow">
                      <img class="card-img-top" src="../../assets/img/custom – 1.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">ShopFloor Data Capture</h5>
                        <p class="card-text">Introduction and getting started with ShopFloor Data Capture</p>
                        <small><em>-Sandeep Kavade</em></small>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="btn btn-link">Watch now</a>
                        <small class="float-right mt-2">15:30 min</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>